@model OSPasteBin.BusinessObjects.PasteNote

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>

<p>@Model.Description</p>

<pre><code class="prettyprint lang-@Model.Language">@HttpUtility.HtmlDecode( @Model.Post )</code></pre>

@Html.ActionLink("View Raw", "Notes", new { id = @Model.Id , mode = "Raw" })


@section scripts{
<script type="text/javascript">
    prettyPrint();
</script>
}